@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

/* BEGIN LETTERS */
[epub|type~="z3998:letter"] header{
	text-align: right;
}

header > [epub|type~="z3998:salutation"]{
	text-align: initial;
}

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:letter"] header + p{
	text-indent: 0;
}

[epub|type~="z3998:salutation"],
[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}
/* end letters */

/* BEGIN BESPOKE */
#chapter-18 blockquote p{
	text-align: center;
	text-indent: 0;
	text-transform: uppercase;
}
/* end bespoke */
